<ion-header>
<ion-navbar>
  <ion-title>Edit Profile</ion-title>
</ion-navbar>
<style>
  #pic{
      width: 150px;
      height: 170px;
      /* border: solid 1px; */
      margin-left: auto;
      margin-right: auto;
  }

  #img{
      text-align: center;
  }

  ion-label{
    font-size: 16px;
  }

  ion-input{
    background-color: white;
    border: solid 1px;
  }

  .box{
    border: solid 1px;
    width: 100%;
    /* width: 290px; */
    height: 46px;
  }

  .box1{
    border: solid 1px;
    width: 50%;
    height: 46px;
  }

  #phone{
    /* width: 89%; */
    width: 290px;
    display: inline-block;
  }

  #Fphone1{
    /* width: 89%; */
    width: 290px;
    display: inline-block;
  }

  #icnumber1{
    width: 55px;
    text-align: left;
    display: inline-block;
  }

  #icnumber3{
    /* width: 84%; */
    width: 260px;
    text-align: right;
    display: inline-block;
  }

  #Fic1{
    width: 55px;
    text-align: left;
    display: inline-block;
  }

  #Fic2{
    /* width: 84%; */
    width: 260px;
    text-align: right;
    display: inline-block;
  }

  #edit{
    text-align: center;
  }

  #name{
    text-align: center;
  }

  p{
    text-align: justify;
    font-size: 16px;
  }

  button{
    text-align: center;
  }
</style>
</ion-header>

<ion-content padding>
<!-- <div id="img">
  <img src="assets/imgs/user1.png" id="pic">
</div> -->

<br>

<button ion-button full color="dark" (click)="hideMe = !hideMe" icon-end>
    Personal Information <ion-icon name="md-arrow-dropdown" end></ion-icon>
</button>

<div *ngIf="hideMe">
  <!-- <form [formGroup]="personalForm"> -->
    
    <ion-label position="stacked"><b>Name</b></ion-label>
    <ion-input type="text" id="name1" [(ngModel)]="personalInfo.name1">
      {{personalInfo.name1}}
    </ion-input>
    <!-- <p><b>Name      :</b> {{personalInfo.name1}}</p><br> -->

    <p><b>IC Number :</b> {{personalInfo.icNumber1}} - {{personalInfo.icNumber3}}</p>
    <!-- <br> -->

    <ion-label position="stacked"><b>Age</b></ion-label>
    <ion-input type="number" class="box" id="dob" [(ngModel)]="personalInfo.age">
      {{personalInfo.age}}
    </ion-input>
    <!-- <p><b>Age :</b> {{personalInfo.age}}</p> -->
    <!-- <br> -->

    <p><b>Gender :</b> {{personalInfo.gender}}</p>
    <!-- <br> -->

    <p><b>Religion :</b> {{personalInfo.religion}}</p>
    <!-- <br> -->

    <ion-label><b>Status</b></ion-label>
      <select class="box" id="martialStatus" [(ngModel)]="personalInfo.martialStatus">
        {{personalInfo.martialStatus}}
        <option value="single" id="single">Single</option>
        <option value="married" id="married">Married</option>
        <option value="divorced" id="divorced">Divorced</option>
        <option value="widowed" id="widowed">Widowed</option>
      </select>
    <!-- <p><b>Martial Status :</b> {{personalInfo.martialStatus}}</p> -->
    <!-- <br> -->

    <p><b>Race :</b> {{personalInfo.race}}</p>
    <!-- <br> -->
    
    <ion-label position="stacked"><b>Address</b></ion-label>
    <textarea rows="4" cols="40" id="address1" maxlength="100" [(ngModel)]="personalInfo.address1">
      {{personalInfo.address1}}
    </textarea>
    <!-- <p><b>Address :</b> {{personalInfo.address1}}</p> -->
    <!-- <br> -->

    <ion-label position="stacked"><b>Phone No</b></ion-label>
    +673 
    <ion-input type="text" id="phone" maxLength="7" [(ngModel)]="personalInfo.phone">
      {{personalInfo.phone}}
    </ion-input>
    <!-- <p><b>Phone :</b> {{personalInfo.phone}}</p><br> -->

    <ion-label><b>Driving License</b></ion-label>
      <ion-item>
        <input type="radio" name="DL1" value="yes" class="DL" [(ngModel)]="personalInfo.DL"> Yes,  
        <select class="box1" id="LClass" [(ngModel)]="personalInfo.LClass">
          {{personalInfo.LClass}}
          <option value="1" id="DL1">Class 1</option>
          <option value="2" id="DL2">Class 2</option>
          <option value="3" id="DL3">Class 3</option>
          <option value="4" id="DL4">Class 4</option>
          <option value="5" id="DL5">Class 5</option>
          <option value="6" id="DL6">Class 6</option>
          <option value="7" id="DL7">Class 7</option>
          <option value="8" id="DL8">Class 8</option>
          <option value="9" id="DL9">Class 9</option>
          <option value="10" id="DL10">Class 10</option>
          <option value="11" id="DL11">Class 11</option>
          <option value="12" id="DL12">Class 12</option>
        </select>
      </ion-item>

      <ion-item>
        <input type="radio" name="DL1" value="no" class="DL" [(ngModel)]="personalInfo.DL"> No
      </ion-item>
    <!-- <p><b>Driving License :</b> {{personalInfo.DL}}</p> -->
    <!-- <br> -->
  
  <!-- </form> -->

  <hr>
  <h2>Next of Kin</h2>
  <hr>

  <!-- <form [formGroup]="familyForm"> -->

    <ion-label><b>Relationship</b></ion-label>
      <select class="box" id="relationship" [(ngModel)]="personalInfo.relationship">
        {{personalInfo.relationship}}
        <option value="parents" id="parents">Parents</option>
        <option value="guardian" id="guardian">Guardian</option>
        <option value="spouse" id="spouse">Husband/Wife</option>
      </select>
    <!-- <p><b>Relationship :</b> {{personalInfo.relationship}}</p> -->
    <!-- <br> -->

    <ion-label position="stacked"><b>Name</b></ion-label>
      <ion-input type="text" id="Fname1" [(ngModel)]="personalInfo.Fname1">
        {{personalInfo.Fname1}}
      </ion-input>
    <!-- <p><b>Family Name :</b> {{personalInfo.Fname1}}</p> -->
    <!-- <br> -->
    
    <p><b>Family IC Number :</b> {{personalInfo.Fic1}} - {{personalInfo.Fic2}}</p>
    <!-- <br> -->

    <ion-label position="stacked"><b>Phone Number</b></ion-label>
      +673 
      <ion-input type="text" placeholder="1234567" id="Fphone1" maxLength="7" [(ngModel)]="personalInfo.Fphone1">
        {{personalInfo.Fphone1}}
      </ion-input>
    <!-- <p><b>Family Phone Number :</b> {{personalInfo.Fphone1}}</p> -->
  <br><br>
  <!-- </form> -->

  
</div>

<button ion-button full color="dark" (click)="hideMe2 = !hideMe2" icon-end>
    Education <ion-icon name="md-arrow-dropdown" end></ion-icon>
</button>

<div *ngIf="hideMe2">
  <button ion-button full color="primary" (click)="hideMe3 = !hideMe3" icon-end>
    O Level <ion-icon name="md-arrow-dropdown" end></ion-icon>
  </button>

    <div *ngIf="hideMe3">
      <form>
        <ion-label position="stacked"><b>Name of School / Institution</b></ion-label>
        <ion-input required type="text" id="Oschool" name="Oschool" [(ngModel)]="education.Oschool">
          {{education.Oschool}}
        </ion-input>
        <!-- <p><b>Name of School :</b> {{education.Oschool}}</p> -->
        <!-- <br> -->

        <!-- <ion-label position="stacked"><b>Year</b></ion-label>
          <ion-input required type="text" placeholder="From" id="Oyear" name="Oyear" [(ngModel)]="education.Oyear">
            {{education.Oyear}}
          </ion-input>
          -
          <ion-input required type="text" placeholder="To" id="Oyear2" name="Oyear2" [(ngModel)]="education.Oyear2">
            {{education.Oyear2}}
          </ion-input> -->
        <!-- <p><b>Year :</b> {{education.Oyear}} - {{education.Oyear2}}</p> -->
        <!-- <br> -->

        <ion-label position="stacked"><b>Result</b></ion-label>
        <select class="box" id="Oresult" name="Oresult" [(ngModel)]="education.Oresult">
          {{education.Oresult}}
            <option value="1'O" id="1'O">1'O Level</option>
            <option value="2'O" id="2'O">2'O Level</option>
            <option value="3'O" id="3'O">3'O Level</option>
            <option value="4'O" id="4'O">4'O Level</option>
            <option value="5'O" id="5'O">5'O Level</option>
            <option value="6'O" id="6'O">6'O Level</option>
            <option value="7'O" id="7'O">7'O Level</option>
            <option value="8'O" id="8'O">8'O Level</option>
            <option value="9'O" id="9'O">9'O Level</option>
        </select>
        <!-- <p><b>Result :</b> {{education.Oresult}}</p> -->
        <!-- <br> -->

        <ion-label position="stacked"><b>Uploaded Image</b></ion-label>
          <p>Show uploaded image</p>

        <br>

      </form>
      
    </div>

  <button ion-button full color="primary" (click)="hideMe4 = !hideMe4" icon-end>
    HND <ion-icon name="md-arrow-dropdown" end></ion-icon>
  </button>
      
    <div *ngIf="hideMe4">
      <form>
        <ion-label position="stacked"><b>Name of School / Institution</b></ion-label>
          <ion-input required type="text" id="Hschool" name="Hschool" [(ngModel)]="education.Hschool">
            {{education.Hschool}}
          </ion-input>
        <!-- <p><b>Name of School :</b> {{education.Hschool}}</p> -->
        <!-- <br> -->
        
        <!-- <ion-label position="stacked"><b>Year</b></ion-label>
          <ion-input required type="number" placeholder="From" id="Hyear" name="Hyear" [(ngModel)]="education.Hyear">
            {{education.Hyear}}
          </ion-input>
          -
          <ion-input required type="number" placeholder="To" id="Hyear2" name="hyear2" [(ngModel)]="education.Hyear2">
            {{education.Hyear2}}
          </ion-input> -->
        <!-- <p><b>Year :</b> {{education.Hyear}} - {{education.Hyear2}}</p> -->
        <!-- <br> -->

        <ion-label position="stacked"><b>Course</b></ion-label>
          <!-- <ion-input required type="text" id="Hcourse" name="Hcourse" [(ngModel)]="education.Hcourse">
            {{education.Hcourse}}
          </ion-input> -->
          <select class="box" id="Hcourse" name="Hcourse" [(ngModel)]="education.Hcourse">
            {{education.Hcourse}}
            <option value="IT" id="IT">IT</option>
            <option value="Business" id="Business">Business</option>
            <option value="Engineering" id="Engineering">Engineering</option>
         </select>
        <!-- <p><b>Course :</b> {{education.Hcourse}}</p> -->
        <!-- <br> -->
        
        <ion-label position="stacked"><b>Uploaded Image</b></ion-label>
          <p>Show uploaded image</p>
        
        <br>
      </form>
      
    </div>

  <button ion-button full color="primary" (click)="hideMe5 = !hideMe5" icon-end>
    Degree <ion-icon name="md-arrow-dropdown" end></ion-icon>
  </button>
            
    <div *ngIf="hideMe5">
      <form>
        <ion-label position="stacked"><b>Name of School / Institution</b></ion-label>
          <ion-input required type="text" id="Dschool" name="Dschool" [(ngModel)]="education.Dschool">
            {{education.Dschool}}
          </ion-input>
        <!-- <p><b>Name of School :</b> {{education.Dschool}}</p> -->
        <!-- <br> -->

        <!-- <ion-label position="stacked"><b>Year</b></ion-label>
          <ion-input required type="number" placeholder="From" id="Dyear" name="Dyear" [(ngModel)]="education.Dyear">
            {{education.Dyear}}
          </ion-input>
          -
          <ion-input required type="number" placeholder="To" id="Dyear2" name="Dyear2" [(ngModel)]="education.Dyear2">
            {{education.Dyear2}}
          </ion-input> -->
        <!-- <p><b>Year :</b> {{education.Dyear}} - {{education.Dyear2}}</p> -->
        <!-- <br> -->

        <ion-label position="stacked"><b>Course</b></ion-label>
          <!-- <ion-input required type="text" id="Dcourse" name="Dcourse" [(ngModel)]="education.Dcourse">
            {{education.Dcourse}}
          </ion-input> -->
          <select class="box" id="Dcourse" name="Dcourse" [(ngModel)]="education.Dcourse">
            {{education.Dcourse}}
            <option value="IT" id="IT">IT</option>
            <option value="Business" id="Business">Business</option>
            <option value="Engineering" id="Engineering">Engineering</option>
        </select>
        <!-- <p><b>Course :</b> {{education.Dcourse}}</p> -->
        <!-- <br> -->

        <ion-label position="stacked"><b>Uploaded Image</b></ion-label>
          <p>Show uploaded image</p>
        
        <br>
    </form>
      
    </div>
  
  <br>

</div>

<button ion-button full color="dark" (click)="hideMe6 = !hideMe6" icon-end>
    Work Experience <ion-icon name="md-arrow-dropdown" end></ion-icon>
</button>

  <div *ngIf="hideMe6">
    <!-- <form [formGroup] = "workForm"> -->

      <ion-label position="stacked"><b>Organization Name</b></ion-label>
        <ion-input type="text" id="organization" name="organization" [(ngModel)]="work.organization">
            {{work.organization}}
        </ion-input>
      <!-- <p><b>Organization :</b> {{work.organization}}</p> -->
      <!-- <br> -->
      
      <ion-label position="stacked"><b>Title of post</b></ion-label>
        <ion-input type="text" id="post" [(ngModel)]="work.post">
          {{work.post}}
        </ion-input>
      <!-- <p><b>Post :</b> {{work.post}}</p> -->
      <!-- <br> -->
      
      <ion-label position="stacked"><b>Year</b></ion-label>
        <ion-input type="text" placeholder="From" id="WorkYear" [(ngModel)]="work.WorkYear">
          {{work.WorkYear}}
        </ion-input>
        -
        <ion-input type="text" placeholder="To" id="WorkYear2" [(ngModel)]="work.WorkYear2">
          {{work.WorkYear2}}
        </ion-input>
      <!-- <p><b>Year :</b> {{work.WorkYear}} - {{work.WorkYear2}}</p> -->
      <!-- <br> -->
      
      <ion-label position="stacked"><b>Reason for leaving</b></ion-label>
        <ion-input type="text" id="reason" [(ngModel)]="work.reason">
          {{work.reason}}
        </ion-input>
      <!-- <p><b>Reason For Leaving :</b> {{work.reason}}</p> -->
      <!-- <br> -->
      
      <ion-label position="stacked"><b>Referee Name</b></ion-label>
        <ion-input type="text" id="referee" [(ngModel)]="work.referee">
          {{work.referee}}
        </ion-input>
      <!-- <p><b>Referee Name :</b> {{work.referee}}</p> -->
      <!-- <br> -->
      
      <ion-label position="stacked"><b>Referee Contact Number</b></ion-label>
        +673
        <ion-input type="text" placeholder="1234567" id="RefereeNumber" maxLength="7" [(ngModel)]="work.RefereeNumber">
          {{work.RefereeNumber}}
        </ion-input>
      <!-- <p><b>Referee Contact :</b> {{work.RefereeNumber}}</p> -->
      <!-- <br> -->
      
      <ion-label position="stacked"><b>Skills</b></ion-label>
        <ion-input type="text" name="skills" id="skills" [(ngModel)]="work.skills">
          {{work.skills}}
        </ion-input>
      <!-- <p><b>Skills :</b> {{work.skills}}</p> -->
      <br>

    <!-- </form> -->
    
  </div>

<br>

<button ion-button full round (click)="saveProfile()">Save</button>

<br>

</ion-content>