<ion-header>
    <ion-navbar color="light">
      <ion-title>
        Work Experience
      </ion-title>
      <style type="text/css">
        ion-content {
          background-color: #97ebdb;
        }

        ion-input{
          background-color: white;
          border: solid 1px;
        }
        ion-datetime{
          border: solid 1px;
          font-size: 12px;
        }
        .box{
          width: 290px;
          height: 46px;
        }
        .subject{
          width: 130px;
          height: 20px;
        }
        .edu{
          border: solid 1px;
          width: 290px;
          height: 100px;
        }
        .grade{
          width: 130px;
          height: 20px;
        }
        .subject1{
          padding-left: 4px;
        }
        .file{
          width: 150px;
          height: 25px;
          font-size: 15px;
        }
        .divfile{
          text-align: center;
        }
        #language{
          border: solid 1px;
          width: 290px;
          height: 70px;
        }
        #submit{
          text-align: center;
        }
        #submit1{
          font-size: 30px;
          width: 140px;
          height: 40px;
          background-color: #1e90ff;
        }
        p{
          color: red;
        }
        .required{
          color: red;
        }
        #WorkYear{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #WorkYear2{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #RefereeNumber{
          width: 241.03px;
          display: inline-block;
          text-align: left;
        }
        p{
          color: red;
        }
        </style>
    </ion-navbar>
</ion-header>

<ion-content padding>
      <form [formGroup] = "workForm">
        <ion-list lines="full">
           <ion-label position="stacked">Organization Name</ion-label>
           <ion-input type="text" id="organization" formControlName='organizationName' [(ngModel)]="workexp.organization"></ion-input>
         </ion-list>
         <ion-item *ngIf = "organizationName.hasError('required') && organizationName.touched">
           <p>*Organization name is required</p>
         </ion-item>
         <ion-item *ngIf = "organizationName.hasError('pattern') && organizationName.touched">
          <p>*Organization name should be in text<br> format, no numbers or symbols are<br> allowed</p>
        </ion-item>
      
        <ion-list lines="full">
          <ion-label position="stacked">Title of post</ion-label>
          <ion-input type="text" id="post" formControlName='titlePost'[(ngModel)]="workexp.post"></ion-input>
        </ion-list>
        <ion-item *ngIf = "titlePost.hasError('required') && titlePost.touched">
          <p>*Title of post is required</p>
        </ion-item>
        <ion-item *ngIf = "titlePost.hasError('pattern') && titlePost.touched">
          <p>*Title of post should be in text format,<br> no numbers or symbols are allowed</p>
        </ion-item>
      
        <ion-list lines="full">
          <ion-label position="stacked">Year</ion-label>
          <ion-input type="text" placeholder="From" id="WorkYear" [(ngModel)]="workexp.WorkYear"></ion-input>
          -
          <ion-input type="text" placeholder="To" id="WorkYear2" [(ngModel)]="workexp.WorkYear2"></ion-input>
        </ion-list>
      
        <ion-list lines="full">
          <ion-label position="stacked">Reason for leaving</ion-label>
          <ion-input type="text" id="reason" formControlName='reasonLeaving' [(ngModel)]="workexp.reason"></ion-input>
        </ion-list>
        <ion-item *ngIf = "reasonLeaving.hasError('required') && reasonLeaving.touched">
          <p>*Reason for leaving is required</p>
        </ion-item>
        <ion-item *ngIf = "reasonLeaving.hasError('pattern') && reasonLeaving.touched">
          <p>*Reason for leaving should be in text<br> format, no numbers or symbols are<br> allowed</p>
        </ion-item>
      
        <ion-list lines="full">
          <ion-label position="stacked">Referee Name</ion-label>
          <ion-input type="text" id="referee" formControlName='refereeName' [(ngModel)]="workexp.referee"></ion-input>
        </ion-list>
        <ion-item *ngIf = "refereeName.hasError('required') && refereeName.touched">
          <p>*Referee Name is required</p>
        </ion-item>
        <ion-item *ngIf = "refereeName.hasError('pattern') && refereeName.touched">
          <p>*Only @ and ' are allowed</p>
        </ion-item>
      
        <ion-list lines="full">
          <ion-label position="stacked">Referee Contact Number</ion-label>
          +673
          <ion-input type="text" placeholder="1234567" id="RefereeNumber" formControlName='refereeNumber' maxLength="7" [(ngModel)]="workexp.RefereeNumber"></ion-input>
        </ion-list>
        <ion-item *ngIf = "refereeNumber.hasError('required') && refereeNumber.touched">
          <p>*Referee Contact Number is required</p>
        </ion-item>
        <ion-item *ngIf = "refereeNumber.hasError('maxLength') && refereeNumber.touched">
          <p>*Referee Contact Number should be in numbers</p>
        </ion-item>
      </form>

      <h5>Skills / Ability</h5>

      <hr>

      <ion-input type="text" name="skills" id="skills" [(ngModel)]="workexp.skills"></ion-input>

      <h5>Language</h5>

      <hr>

      <table id="language">
        <tr>
          <th>Language</th>
          <th>Ability</th>
        </tr>
        <tr>
          <td class="subject1">
          <ion-input  class="subject"></ion-input></td>

          <td>
          <select class="grade">
           <option value="">Select...</option>
           <option value="spoken" id="spoken">Spoken</option>
           <option value="written" id="written">Written</option>
           <option value="both" id="both">Both</option>
         </select>
         </td>
        </tr>
      </table>
      <br>
      <div id="submit">
        <button ion-button (click) = "gotoLogin();" type="submit" id="submit1">Submit</button>
      </div>
</ion-content>