<ion-header>
    <ion-navbar>
        <ion-title>My profile</ion-title>
    </ion-navbar>
    <style>
        #pic{
            width: 150px;
            height: 170px;
            margin-left: auto;
            margin-right: auto;
        }
        #img{
            text-align: center;
        }
        #edit{
            text-align: center;
        }
        #name{
            text-align: center;
        }
        p{
            text-align: justify;
            font-size: 16px;
        }
    </style>
</ion-header>

<ion-content padding>
    <div id="img">
    <img src="assets/imgs/user1.png" id="pic">
    </div>

    <br>

    <button ion-button full color="dark" (click)="hideMe = !hideMe" icon-end>
        Personal Information <ion-icon name="md-arrow-dropdown" end></ion-icon>
    </button>


    <div *ngIf="hideMe">
        <p><b>Name      :</b> {{personalInfo.name1}}</p>
        <p><b>IC Number :</b> {{personalInfo.icNumber1}} - {{personalInfo.icNumber3}}</p>
        <p><b>Age :</b> {{personalInfo.age}}</p>
        <p><b>Gender :</b> {{personalInfo.gender}}</p>
        <p><b>Religion :</b> {{personalInfo.religion}}</p>
        <p><b>Martial Status :</b> {{personalInfo.martialStatus}}</p>
        <p><b>Race :</b> {{personalInfo.race}}</p>
        <p><b>Address :</b> {{personalInfo.address1}}</p>
        <p><b>Phone :</b> {{personalInfo.phone}}</p>
        <!-- <p><b>Driving License :</b> {{personalInfo.DL}}</p> -->
        <p><b>Driving License Class :</b> {{personalInfo.LClass}}</p>

        <hr>
        <h2>Next of Kin</h2>
        <hr>


        <p><b>Relationship :</b> {{personalInfo.relationship}}</p>
        <p><b>Family Name :</b> {{personalInfo.Fname1}}</p>
        <p><b>Family IC Number :</b> {{personalInfo.Fic1}} - {{personalInfo.Fic2}}</p>
        <p><b>Family Phone Number :</b> {{personalInfo.Fphone1}}</p>

        <br>
</div>

    <button ion-button full color="dark" (click)="hideMe2 = !hideMe2" icon-end>
        Education <ion-icon name="md-arrow-dropdown" end></ion-icon>
    </button>

    <div *ngIf="hideMe2">
        <button ion-button full color="primary" (click)="hideMe3 = !hideMe3" icon-end>
            O Level <ion-icon name="md-arrow-dropdown" end></ion-icon>
        </button>

        <div *ngIf="hideMe3">
            <p><b>Name of School :</b> {{education.Oschool}}</p>
            <p><b>Result :</b> {{education.Oresult}}</p><br>
        </div>

        <button ion-button full color="primary" (click)="hideMe4 = !hideMe4" icon-end>
            HND <ion-icon name="md-arrow-dropdown" end></ion-icon>
        </button>
        
        <div *ngIf="hideMe4">
                <p><b>Name of School :</b> {{education.Hschool}}</p>
                <p><b>Course :</b> {{education.Hcourse}}</p><br>
        </div>

        <button ion-button full color="primary" (click)="hideMe5 = !hideMe5" icon-end>
            Degree <ion-icon name="md-arrow-dropdown" end></ion-icon>
        </button>
            
        <div *ngIf="hideMe5">
                <p><b>Name of School :</b> {{education.Dschool}}</p>
                <p><b>Course :</b> {{education.Dcourse}}</p>
        </div>

        <br>
    </div>

    <button ion-button full color="dark" (click)="hideMe6 = !hideMe6" icon-end>
        Work Experience <ion-icon name="md-arrow-dropdown" end></ion-icon>
    </button>

    <div *ngIf="hideMe6">
        <p><b>Organization :</b> {{work.organization}}</p>
        <p><b>Post :</b> {{work.post}}</p>
        <p><b>Year :</b> {{work.WorkYear}} - {{work.WorkYear2}}</p>
        <p><b>Reason For Leaving :</b> {{work.reason}}</p>
        <p><b>Referee Name :</b> {{work.referee}}</p>
        <p><b>Referee Contact :</b> {{work.RefereeNumber}}</p>
        <p><b>Skills :</b> {{work.skills}}</p>
    </div>

    <br>

    <button ion-button full round (click)="editProfile()">Edit Profile</button>
    
</ion-content>