<ion-header>
    <ion-navbar color="light">
      <ion-title>
        Personal Information
      </ion-title>
      <style type="text/css">
        ion-content {
          background-color: #97ebdb;
        }

        /* ion-content {
        background-image: url('../assets/imgs/paleblue.jpeg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        } */

        ion-input{
          background-color: white;
          border: solid 1px;
        }
        ion-datetime{
          border: solid 1px;
          font-size: 12px;
        }
        .box{
          border: solid 1px;
          width: 100%;
          /* width: 290px; */
          height: 46px;
        }
        p{
          color: red;
        }
        .required{
          color: red;
        }
        #next{
            text-align: right;
        }
        #phone{
          /* width: 89%; */
          width: 241.03px;
          display: inline-block;
        }
        #Fphone1{
          /* width: 89%; */
          width: 241.03px;
          display: inline-block;
        }
        #icnumber1{
          width: 40px;
          text-align: left;
          display: inline-block;
        }
        #icnumber3{
          /* width: 84%; */
          width: 225px;
          text-align: right;
          display: inline-block;
        }
        #Fic1{
          width: 40px;
          text-align: left;
          display: inline-block;
        }
        #Fic2{
          /* width: 84%; */
          width: 225px;
          text-align: right;
          display: inline-block;
        }
        </style>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="personalForm">
       <ion-list lines="full">
          <ion-label position="stacked">Name <span class="required">*</span></ion-label>
          <ion-input type="text" id="name1" formControlName="name" [(ngModel)]="personalInfo.name1"></ion-input>
        </ion-list>
        <ion-item *ngIf="name.hasError('required') && name.touched">
          <p>*Name is required</p>
        </ion-item>
        <ion-item *ngIf="name.hasError('pattern') && name.touched">
          <p>*Only @ and ' are allowed</p>
        </ion-item>
        <ion-item *ngIf="name.hasError('maxLength') && name.touched">
          <p>*Name cannot be more than 50 characters</p>
        </ion-item>
    
        <ion-list lines="full">
           <ion-label position="stacked">IC Number <span class="required">*</span></ion-label>
           <ion-input type="text" placeholder="01" id="icnumber1" formControlName='icNumber' [(ngModel)]="personalInfo.icNumber1" maxLength="2"></ion-input>
           -
           <ion-input type="text" placeholder="123456" id="icnumber3" formControlName='icNumber2' [(ngModel)]="personalInfo.icNumber3"></ion-input>
         </ion-list>
         <ion-item *ngIf="icNumber.hasError('pattern') && icNumber.touched">
           <p>*IC Number should start with 00 or 01</p>
         </ion-item>
         <ion-item *ngIf="icNumber.hasError('required') && icNumber.touched">
          <p>*First 2 numbers are required</p>
        </ion-item>
        <ion-item *ngIf="icNumber2.hasError('required') && icNumber2.touched">
          <p>*Last 6 digits are required</p>
        </ion-item>
        <ion-item *ngIf="icNumber2.hasError('pattern') && icNumber2.touched">
          <p>*IC Number should be in digit format</p>
        </ion-item>

        <ion-list lines="full">
          <ion-label position="stacked">Date of Birth <span class="required">*</span></ion-label>
          <ion-input type="date" class="box" id="dob" min="01-01-2001" max="01-01-1954" formControlName='dob1' [(ngModel)]="personalInfo.dob" ></ion-input>
         </ion-list>
         <ion-item *ngIf="dob1.hasError('min') && dob1.touched">
           <p>*You must be atleast 18 years old</p>
         </ion-item>
         <ion-item *ngIf="dob1.hasError('max') && dob1.touched">
          <p>*You must not be more than 65 years<br> old</p>
        </ion-item>
        <ion-item *ngIf="dob1.hasError('required') && dob1.touched">
          <p>*Date of Birth is required</p>
        </ion-item>
     
        <ion-list lines="full">
              <ion-label>Gender <span class="required">*</span></ion-label>
            <ion-item>
              <input type="radio" name="gender1" value="male" class="gender" formControlName='gender1' [(ngModel)]="personalInfo.gender"> Male
            </ion-item>

            <ion-item>
              <input type="radio" name="gender1" value="female" class="gender" formControlName='gender1' [(ngModel)]="personalInfo.gender"> Female
            </ion-item>
        </ion-list>
        <ion-item *ngIf="gender1.hasError('required') && gender1.touched">
          <p>*Gender is required</p>
        </ion-item>
     
       <ion-list lines="full">
           <ion-label>Religion <span class="required">*</span></ion-label>
          <select class="box" id="religion" formControlName='religion1' [(ngModel)]="personalInfo.religion">
            <option value="muslim" id="muslim">Muslim</option>
            <option value="christian" id="christian">Christian</option>
            <option value="buddhist" id="buddhist">Buddhist</option>
          </select>
        </ion-list>
        <ion-item *ngIf="religion1.hasError('required') && religion1.touched">
          <p>*Religion is required</p>
        </ion-item>
    
        <ion-list lines="full">
            <ion-label>Marital Status <span class="required">*</span></ion-label>
           <select class="box" id="martialStatus" formControlName='status' [(ngModel)]="personalInfo.martialStatus">
             <option value="single" id="single">Single</option>
             <option value="married" id="married">Married</option>
             <option value="divorced" id="divorced">Divorced</option>
             <option value="widowed" id="widowed">Widowed</option>
           </select>
         </ion-list>
     
        <ion-list lines="full">
            <ion-label>Race <span class="required">*</span></ion-label>
           <select class="box" id="race" formControlName='race1' [(ngModel)]="personalInfo.race">
             <option value="malay" id="malay">Malay</option>
             <option value="kedayan" id="kedayan">Kedayan</option>
             <option value="dusun" id="dusun">Dusun</option>
             <option value="iban" id="iban">Iban</option>
             <option value="murut" id="murut">Murut</option>
           </select>
         </ion-list>
         <ion-item *ngIf="race1.hasError('required') && race1.touched">
          <p>*Race is required</p>
        </ion-item>
     
        <ion-list lines="full">
           <ion-label position="stacked">Address <span class="required">*</span></ion-label>
           <textarea rows="4" cols="40" id="address1" formControlName="address" maxlength="100" [(ngModel)]="personalInfo.address1"></textarea>
         </ion-list>
         <ion-item *ngIf="address.hasError('required') && address.touched">
          <p>*Address is required</p>
        </ion-item>
    
        <ion-list lines="full">
           <ion-label position="stacked">Phone Number <span class="required">*</span></ion-label>
           +673 
           <ion-input type="text" placeholder="1234567" id="phone" formControlName="phoneNumber" maxLength="7" [(ngModel)]="personalInfo.phone"></ion-input>
          </ion-list>
         <ion-item *ngIf="phoneNumber.hasError('required') && phoneNumber.touched">
           <p>*Phone Number is required</p>
         </ion-item>
         
     
        <ion-list lines="full">
              <ion-label>Driving License <span class="required">*</span></ion-label>
            <ion-item>
              <input type="radio" name="DL1" value="yes" class="DL" formControlName='DL1' [(ngModel)]="personalInfo.DL"> Yes
            </ion-item>

            <ion-item>
              <input type="radio" name="DL1" value="no" class="DL"formControlName='DL1' [(ngModel)]="personalInfo.DL"> No
            </ion-item>
        </ion-list>
        <ion-item *ngIf="DL1.hasError('required') && DL1.touched">
          <p>*Driving License is required</p>
        </ion-item>
     
        <ion-list lines="full">
            <ion-label>Class <span class="required">*</span></ion-label>
           <select class="box" id="LClass" formControlName='LClass1' [(ngModel)]="personalInfo.LClass">
             <option value="1" id="DL1">1</option>
             <option value="2" id="DL2">2</option>
             <option value="3" id="DL3">3</option>
             <option value="4" id="DL4">4</option>
             <option value="5" id="DL5">5</option>
             <option value="6" id="DL6">6</option>
             <option value="7" id="DL7">7</option>
             <option value="8" id="DL8">8</option>
             <option value="9" id="DL9">9</option>
             <option value="10" id="DL10">10</option>
             <option value="11" id="DL11">11</option>
             <option value="12" id="DL12">12</option>
           </select>
         </ion-list>
         <ion-item *ngIf="LClass1.hasError('required') && LClass1.touched">
          <p>*Driving License Class is required</p>
        </ion-item>
     </form>

     <hr>

     <h5>Next of Kin</h5>

     <hr>
        <form [formGroup]="familyForm">
            <ion-list lines="full">
                <ion-label>Relationship <span class="required" >*</span></ion-label>
               <select class="box" id="relationship" formControlName='relation' [(ngModel)]="personalInfo.relationship">
                 <option value="parents" id="parents">Father/Mother</option>
                 <option value="guardian" id="guardian">Guardian</option>
                 <option value="spouse" id="spouse">Husband/Wife</option>
               </select>
             </ion-list>
             <ion-item *ngIf="relation.hasError('required') && relation.touched">
              <p>*Relationship is required</p>
            </ion-item>
         
            <ion-list lines="full">
               <ion-label position="stacked">Name <span class="required">*</span></ion-label>
               <ion-input type="text" id="Fname1" formControlName="Fname" [(ngModel)]="personalInfo.Fname1"></ion-input>
             </ion-list>
             <ion-item *ngIf="Fname.hasError('required') && Fname.touched">
              <p>*Name is required</p>
            </ion-item>
            <ion-item *ngIf="Fname.hasError('pattern') && Fname.touched">
              <p>*Only @ and ' are allowed</p>
            </ion-item>
            <ion-item *ngIf="Fname.hasError('maxLength') && Fname.touched">
              <p>*Name cannot be more than 50 characters</p>
            </ion-item>
         
            <ion-list lines="full">
               <ion-label position="stacked">IC Number <span class="required">*</span></ion-label>
               <ion-input type="text" placeholder="01" id="Fic1" formControlName="FicNumber" [(ngModel)]="personalInfo.Fic1"></ion-input>
               -
               <ion-input type="text" placeholder="123456" id="Fic2" formControlName="FicNumber2" [(ngModel)]="personalInfo.Fic2"></ion-input>
             </ion-list>
             <ion-item *ngIf="FicNumber.hasError('pattern') && FicNumber.touched">
              <p>*IC Number should start with 00 or 01</p>
            </ion-item>
            <ion-item *ngIf="FicNumber.hasError('required') && FicNumber.touched">
             <p>*First 2 numbers are required</p>
           </ion-item>
           <ion-item *ngIf="FicNumber2.hasError('required') && FicNumber2.touched">
             <p>*Last 6 digits are required</p>
           </ion-item>
           <ion-item *ngIf="FicNumber2.hasError('pattern') && FicNumber2.touched">
             <p>*IC Number should be in digit format</p>
           </ion-item>
      
            <ion-list lines="full">
               <ion-label position="stacked">Phone Number <span class="required">*</span></ion-label>
               +673 
                <ion-input type="text" placeholder="1234567" id="Fphone1" formControlName="Fphone" maxLength="7" [(ngModel)]="personalInfo.Fphone1"></ion-input>
             </ion-list>
             <ion-item *ngIf="Fphone.hasError('required') && Fphone.touched">
              <p>*Phone Number is required</p>
            </ion-item>
         </form>
         <div id="next">
         <button ion-button (click)="gotoEducation();" clear>Next ></button>
         </div>
</ion-content>