<ion-header>
    <ion-navbar color="light">
      <ion-title>
        Education Background
      </ion-title>
      <style type="text/css">
        ion-input{
          background-color: white;
          border: solid 1px;
        }

        ion-content {
          background-color: #97ebdb;
        }

        .subject{
          width: 130px;
          height: 20px;
        }
        .edu{
          border: solid 1px;
          width: 290px;
          height: 100px;
        }
        .grade{
          width: 130px;
          height: 20px;
        }
        .subject1{
          padding-left: 4px;
        }
        .file{
          width: 150px;
          height: 25px;
          font-size: 15px;
        }
        .divfile{
          text-align: center;
        }.box{
          border: solid 1px;
          width: 100%;
          /* width: 290px; */
          height: 46px;
        }
        p{
          color: red;
        }
        .required{
          color: red;
        }
        #next{
          text-align: right;
        }
        #Oyear{
          width: 160px;
          text-align: left;
          display: inline-block;
        }
        #Oyear2{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Ayear{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Ayear2{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Nyear{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Nyear2{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Hyear{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Hyear2{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Myear{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Myear2{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Dyear{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Dyear2{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Pyear{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #Pyear2{
          width: 155px;
          text-align: left;
          display: inline-block;
        }
        #subj{
          width: 130px;
          display: inline-block;
        }
        #grades{
          width: 130px;
          display: inline-block;
        }
        #t{
          border: solid 1px;
          width: 290px;
          height: 100px;
        }
        </style>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <h6 style="color: red; text-align: justify;">[!]Note: You have to fill in atleast 1 qualification</h6>

      <!-- O Level -->
      <button ion-button full color="dark" (click)="hideMe = !hideMe" icon-end>
        O'level<ion-icon name="md-arrow-dropdown" end></ion-icon>
      </button>

      <div *ngIf="hideMe">
        <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Oschool" name="Oschool" [(ngModel)]="education.Oschool"></ion-input>
         </ion-list>

       <ion-list lines="full">
      <ion-label position="stacked">Result</ion-label>
      <!-- <ion-input required type="text" placeholder="8'O" id="Oresult" name="Oresult" [(ngModel)]="education.Oresult"></ion-input> -->
      <select class="box" id="Oresult" name="Oresult" [(ngModel)]="education.Oresult">
        <option value="1'O" id="1'O">1'O Level</option>
        <option value="2'O" id="2'O">2'O Level</option>
        <option value="3'O" id="3'O">3'O Level</option>
        <option value="4'O" id="4'O">4'O Level</option>
        <option value="5'O" id="5'O">5'O Level</option>
        <option value="6'O" id="6'O">6'O Level</option>
        <option value="7'O" id="7'O">7'O Level</option>
        <option value="8'O" id="8'O">8'O Level</option>
        <option value="9'O" id="9'O">9'O Level</option>
      </select>
      </ion-list>
    </form>
     <!-- <br> -->

     <!-- <button ion-button (click)="OtakePhoto()">Take Photo</button> -->

    <!-- TRYOUT 18/11 -->
    <br>
    <div style="display:flex;justify-content:center">
      <button ion-button (click)="OclickImage()">Capture & Upload</button>
    </div>

    <div style="justify-content:center">
     <img src="{{OImage}}" />
   </div>
    <!-- TRYOUT 18/11 -->

     <hr>
    </div>
      
     <!-- HND -->
     <button ion-button full color="dark" (click)="hideMe2 = !hideMe2" icon-end>
      HND<ion-icon name="md-arrow-dropdown" end></ion-icon>
     </button>

    <div *ngIf="hideMe2">
      <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Hschool" name="Hschool" [(ngModel)]="education.Hschool"></ion-input>
         </ion-list>
  
      <ion-list lines="full">
         <ion-label position="stacked">Course</ion-label>
         <!-- <ion-input required type="text" id="Hcourse" name="Hcourse" [(ngModel)]="education.Hcourse"></ion-input> -->
         <select class="box" id="Hcourse" name="Hcourse" [(ngModel)]="education.Hcourse">
            <option value="IT" id="IT">IT</option>
            <option value="Business" id="Business">Business</option>
            <option value="Engineering" id="Engineering">Engineering</option>
         </select>
       </ion-list>
  
    </form>

     <!-- <br> -->
     <!-- <button ion-button (click)="HtakePhoto()">Take Photo</button> -->

    <!-- TRYOUT 18/11 -->
    <br>
    <div style="display:flex;justify-content:center">
      <button ion-button (click)="HclickImage()">Capture & Upload</button>
    </div>

    <div style="justify-content:center">
     <img src="{{HImage}}" />
   </div>
    <!-- TRYOUT 18/11 -->

     <hr>
    </div>
            
     <!-- Degree -->
     <button ion-button full color="dark" (click)="hideMe3 = !hideMe3" icon-end>
      Degree<ion-icon name="md-arrow-dropdown" end></ion-icon>
     </button>

    <div *ngIf="hideMe3">
       <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Dschool" name="Dschool" [(ngModel)]="education.Dschool"></ion-input>
         </ion-list>
     
      <ion-list lines="full">
         <ion-label position="stacked">Course</ion-label>
         <!-- <ion-input required type="text" id="Dcourse" name="Dcourse" [(ngModel)]="education.Dcourse"></ion-input> -->
         <select class="box" id="Dcourse" name="Dcourse" [(ngModel)]="education.Dcourse">
            <option value="IT" id="IT">IT</option>
            <option value="Business" id="Business">Business</option>
            <option value="Engineering" id="Engineering">Engineering</option>
        </select>
       </ion-list>
   
    </form>

     <!-- <br> -->
     <!-- <button ion-button (click)="DtakePhoto()">Take Photo</button> -->

    <!-- TRYOUT 18/11 -->
    <br>
    <div style="display:flex;justify-content:center">
      <button ion-button (click)="DclickImage()">Capture & Upload</button>
    </div>

    <div style="justify-content:center">
     <img src="{{DImage}}" />
   </div>
    <!-- TRYOUT 18/11 -->

     <hr>
    </div>
      
     <div id="next">
     <button ion-button (click)="gotoWork();" clear>Next ></button>
     </div>

</ion-content>