<ion-header>
    <ion-navbar color="light">
      <ion-title>
        Education Background
      </ion-title>
      <style type="text/css">
        ion-input{
          background-color: white;
          border: solid 1px;
        }

        ion-content {
          background-color: #97ebdb;
        }

        .subject{
          width: 130px;
          height: 20px;
        }
        .edu{
          border: solid 1px;
          width: 290px;
          height: 100px;
        }
        .grade{
          width: 130px;
          height: 20px;
        }
        .subject1{
          padding-left: 4px;
        }
        .file{
          width: 150px;
          height: 25px;
          font-size: 15px;
        }
        .divfile{
          text-align: center;
        }
        p{
          color: red;
        }
        .required{
          color: red;
        }
        #next{
          text-align: right;
        }
        #Oyear{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Oyear2{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Ayear{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Ayear2{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Nyear{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Nyear2{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Hyear{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Hyear2{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Myear{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Myear2{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Dyear{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Dyear2{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Pyear{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        #Pyear2{
          width: 130px;
          text-align: left;
          display: inline-block;
        }
        </style>
    </ion-navbar>
</ion-header>

<ion-content padding>
  <h6 style="color: red; text-align: justify;">[!]Note: You have to fill in atleast 1 education</h6>

      <!-- <h5>O Level</h5> -->
      <button ion-button full color="dark" (click)="hideMe = !hideMe" icon-end>
        O'level<ion-icon name="md-arrow-dropdown" end></ion-icon>
      </button>

      <div *ngIf="hideMe">
        <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Oschool" name="Oschool" [(ngModel)]="education.Oschool"></ion-input>
         </ion-list>
     
       <ion-list lines="full">
         <ion-label position="stacked">Year</ion-label>
         <ion-input required type="text" placeholder="From" id="Oyear" name="Oyear" [(ngModel)]="education.Oyear"></ion-input>
         -
         <ion-input required type="text" placeholder="To" id="Oyear2" name="Oyear2" [(ngModel)]="education.Oyear2"></ion-input>
       </ion-list>
     
      <ion-list lines="full">
        <ion-label position="stacked">Subject Grade</ion-label>
      </ion-list>
    </form>

     <table class="edu">
       <tr>
         <th>Subject</th>
         <th>Grade</th>
       </tr>
       <tr>
         <td class="subject1">
         <ion-input  class="subject"></ion-input></td>

         <td>
         <select class="grade">
          <option value="">Select...</option>
          <option value="A1" class="A1">A1</option>
          <option value="A2" class="A2">A2</option>
          <option value="B3" class="B3">B3</option>
          <option value="B4" class="B4">B4</option>
          <option value="C5" class="C5">C5</option>
          <option value="C6" class="C6">C6</option>
        </select>
        </td>
       </tr>

       <tr>
        <td class="subject1">
        <ion-input  class="subject"></ion-input></td>

        <td>
          <select class="grade">
           <option value="">Select...</option>
           <option value="A1" class="A1">A1</option>
           <option value="A2" class="A2">A2</option>
           <option value="B3" class="B3">B3</option>
           <option value="B4" class="B4">B4</option>
           <option value="C5" class="C5">C5</option>
           <option value="C6" class="C6">C6</option>
         </select>
         </td>
        </tr>
     </table>
     <br>

     <div class="divfile">
     <button class="file">Choose file...</button>
     </div>
     <hr>
    </div>

     <!-- <h5>A Level</h5> -->
     <button ion-button full color="dark" (click)="hideMe2 = !hideMe2" icon-end>
      A'level<ion-icon name="md-arrow-dropdown" end></ion-icon>
     </button>

    <div *ngIf="hideMe2">
      <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Aschool" name="Aschool" [(ngModel)]="education.Aschool"></ion-input>
         </ion-list>
     </form>

     <form>
       <ion-list lines="full">
         <ion-label position="stacked">Year</ion-label>
         <ion-input required type="number" placeholder="From" id="Ayear" name="Ayear" [(ngModel)]="education.Ayear"></ion-input>
         -
         <ion-input required type="number" placeholder="To" id="Ayear2" name="Ayear2" [(ngModel)]="education.Ayear2"></ion-input>
       </ion-list>
     </form>
     
     <form>
      <ion-list lines="full">
        <ion-label position="stacked">Subject Grade</ion-label>
      </ion-list>
    </form>

     <table class="edu">
       <tr>
         <th>Subject</th>
         <th>Grade</th>
       </tr>
       <tr>
         <td class="subject1">
         <ion-input  class="subject"></ion-input></td>

         <td>
         <select class="grade">
          <option value="">Select...</option>
          <option value="A" class="A">A</option>
          <option value="B" class="B">B</option>
          <option value="C" class="C">C</option>
          <option value="D" class="D">D</option>
          <option value="E" class="E">E</option>
        </select>
        </td>
       </tr>

       <tr>
        <td class="subject1">
        <ion-input  class="subject"></ion-input></td>

        <td>
        <select class="grade">
         <option value="">Select...</option>
         <option value="A" class="A">A</option>
          <option value="B" class="B">B</option>
          <option value="C" class="C">C</option>
          <option value="D" class="D">D</option>
          <option value="E" class="E">E</option>
       </select>
       </td>
      </tr>
     </table>
     <br>
     <div class="divfile">
      <button class="file">Choose file...</button>
     </div>
     <hr>
    </div>
      
     <!-- <h5>HNTEC / ND</h5> -->
     <button ion-button full color="dark" (click)="hideMe3 = !hideMe3" icon-end>
      HNTEC / ND<ion-icon name="md-arrow-dropdown" end></ion-icon>
     </button>

    <div *ngIf="hideMe3">
      <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Nschool" name="Nschool" [(ngModel)]="education.Nschool"></ion-input>
         </ion-list>
     </form>

     <form>
       <ion-list lines="full">
         <ion-label position="stacked">Year</ion-label>
         <ion-input required type="number" placeholder="From" id="Nyear" name="Nyear" [(ngModel)]="education.Nyear"></ion-input>
         -
         <ion-input required type="number" placeholder="To" id="Nyear2" name="Nyear2" [(ngModel)]="education.Nyear2"></ion-input>
       </ion-list>
     </form>

     <form>
      <ion-list lines="full">
         <ion-label position="stacked">Course</ion-label>
         <ion-input required type="text" id="Ncourse" name="Ncourse" [(ngModel)]="education.Ncourse"></ion-input>
       </ion-list>
   </form>
     
     <form>
      <ion-list lines="full">
        <ion-label position="stacked">Subject Grade</ion-label>
      </ion-list>
    </form>

     <table class="edu">
       <tr>
         <th>Subject</th>
         <th>Grade</th>
       </tr>
       <tr>
         <td class="subject1">
         <ion-input  class="subject"></ion-input></td>

         <td>
         <select class="grade">
          <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
        </select>
        </td>
       </tr>

       <tr>
        <td class="subject1">
        <ion-input  class="subject"></ion-input></td>

        <td>
        <select class="grade">
         <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
       </select>
       </td>
      </tr>
     </table>
     <br>
     <div class="divfile">
      <button class="file">Choose file...</button>
     </div>
     <hr>
    </div>
      
     <!-- <h5>HND</h5> -->
     <button ion-button full color="dark" (click)="hideMe4 = !hideMe4" icon-end>
      HND<ion-icon name="md-arrow-dropdown" end></ion-icon>
     </button>

    <div *ngIf="hideMe4">
      <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Hschool" name="Hschool" [(ngModel)]="education.Hschool"></ion-input>
         </ion-list>
     </form>

     <form>
       <ion-list lines="full">
         <ion-label position="stacked">Year</ion-label>
         <ion-input required type="number" placeholder="From" id="Hyear" name="Hyear" [(ngModel)]="education.Hyear"></ion-input>
         -
         <ion-input required type="number" placeholder="To" id="Hyear2" name="hyear2" [(ngModel)]="education.Hyear2"></ion-input>
       </ion-list>
     </form>

     <form>
      <ion-list lines="full">
         <ion-label position="stacked">Course</ion-label>
         <ion-input required type="text" id="Hcourse" name="Hcourse" [(ngModel)]="education.Hcourse"></ion-input>
       </ion-list>
   </form>
     
     <form>
      <ion-list lines="full">
        <ion-label position="stacked">Subject Grade</ion-label>
      </ion-list>
    </form>

     <table class="edu">
       <tr>
         <th>Subject</th>
         <th>Grade</th>
       </tr>
       <tr>
         <td class="subject1">
         <ion-input  class="subject"></ion-input></td>

         <td>
         <select class="grade">
          <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
        </select>
        </td>
       </tr>

       <tr>
        <td class="subject1">
        <ion-input  class="subject"></ion-input></td>

        <td>
        <select class="grade">
         <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
       </select>
       </td>
      </tr>
     </table>
     <br>
     <div class="divfile">
      <button class="file">Choose file...</button>
     </div>
     <hr>
    </div>
            
     <!-- <h5>Degree</h5> -->
     <button ion-button full color="dark" (click)="hideMe5 = !hideMe5" icon-end>
      Degree<ion-icon name="md-arrow-dropdown" end></ion-icon>
     </button>

    <div *ngIf="hideMe5">
       <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Dschool" name="Dschool" [(ngModel)]="education.Dschool"></ion-input>
         </ion-list>
     </form>

     <form>
       <ion-list lines="full">
         <ion-label position="stacked">Year</ion-label>
         <ion-input required type="number" placeholder="From" id="Dyear" name="Dyear" [(ngModel)]="education.Dyear"></ion-input>
         -
         <ion-input required type="number" placeholder="To" id="Dyear2" name="Dyear2" [(ngModel)]="education.Dyear2"></ion-input>
       </ion-list>
     </form>

     <form>
      <ion-list lines="full">
         <ion-label position="stacked">Course</ion-label>
         <ion-input required type="text" id="Dcourse" name="Dcourse" [(ngModel)]="education.Dcourse"></ion-input>
       </ion-list>
   </form>
     
     <form>
      <ion-list lines="full">
        <ion-label position="stacked">Subject Grade</ion-label>
      </ion-list>
    </form>

     <table class="edu">
       <tr>
         <th>Subject</th>
         <th>Grade</th>
       </tr>
       <tr>
         <td class="subject1">
         <ion-input  class="subject"></ion-input></td>

         <td>
         <select class="grade">
          <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
        </select>
        </td>
       </tr>

       <tr>
        <td class="subject1">
        <ion-input  class="subject"></ion-input></td>

        <td>
        <select class="grade">
         <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinctiion</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
       </select>
       </td>
      </tr>
     </table>
     <br>
     <div class="divfile">
      <button class="file">Choose file...</button>
     </div>
     <hr>
    </div>
      
    <!-- <h5>Master</h5> -->
    <button ion-button full color="dark" (click)="hideMe6 = !hideMe6" icon-end>
      Master<ion-icon name="md-arrow-dropdown" end></ion-icon>
     </button>

    <div *ngIf="hideMe6">
      <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Mschool" name="Mschool" [(ngModel)]="education.Mschool"></ion-input>
         </ion-list>
     </form>

     <form>
       <ion-list lines="full">
         <ion-label position="stacked">Year</ion-label>
         <ion-input required type="number" placeholder="From" id="Myear" name="Myear" [(ngModel)]="education.Myear"></ion-input>
         - 
         <ion-input required type="number" placeholder="To" id="Myear2" name="Myear2" [(ngModel)]="education.Myear2"></ion-input>
       </ion-list>
     </form>

     <form>
      <ion-list lines="full">
         <ion-label position="stacked">Course</ion-label>
         <ion-input required type="text" id="Mcourse" name="Mcourse" [(ngModel)]="education.Mcourse"></ion-input>
       </ion-list>
   </form>
     
     <form>
      <ion-list lines="full">
        <ion-label position="stacked">Subject Grade</ion-label>
      </ion-list>
    </form>

     <table class="edu">
       <tr>
         <th>Subject</th>
         <th>Grade</th>
       </tr>
       <tr>
         <td class="subject1">
         <ion-input  class="subject"></ion-input></td>

         <td>
         <select class="grade">
          <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
        </select>
        </td>
       </tr>

       <tr>
        <td class="subject1">
        <ion-input  class="subject"></ion-input></td>

        <td>
        <select class="grade">
         <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" id="pass">Pass</option>
          <option value="merit" id="merit">Merit</option>
       </select>
       </td>
      </tr>
     </table>
     <br>
     <div class="divfile">
      <button class="file">Choose file...</button>
     </div>
     <hr>
    </div>

     <!-- <h5>PHD</h5> -->
     <button ion-button full color="dark" (click)="hideMe7 = !hideMe7" icon-end>
      PHD<ion-icon name="md-arrow-dropdown" end></ion-icon>
     </button>

    <div *ngIf="hideMe7">
      <form>
        <ion-list lines="full">
           <ion-label position="stacked">Name of School / Institution</ion-label>
           <ion-input required type="text" id="Pschool" name="Pschool" [(ngModel)]="education.Pschool"></ion-input>
         </ion-list>
     </form>

     <form>
       <ion-list lines="full">
         <ion-label position="stacked">Year</ion-label>
         <ion-input required type="number" placeholder="From" id="Pyear" name="Pyear" [(ngModel)]="education.Pyear"></ion-input>
         - 
         <ion-input required type="number" placeholder="To" id="Pyear2" name="Pyear2" [(ngModel)]="education.Pyear2"></ion-input>
       </ion-list>
     </form>

     <form>
      <ion-list lines="full">
         <ion-label position="stacked">Course</ion-label>
         <ion-input required type="text" id="Pcourse" name="Pcourse" [(ngModel)]="education.Pcourse"></ion-input>
       </ion-list>
   </form>
     
     <form>
      <ion-list lines="full">
        <ion-label position="stacked">Subject Grade</ion-label>
      </ion-list>
    </form>

     <table class="edu" name="edu">
       <tr>
         <th>Subject</th>
         <th>Grade</th>
       </tr>
       <tr>
         <td class="subject1">
         <ion-input  class="subject"></ion-input></td>

         <td>
         <select class="grade">
          <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
        </select>
        </td>
       </tr>

       <tr>
        <td class="subject1">
        <ion-input  class="subject"></ion-input></td>

        <td>
        <select class="grade">
         <option value="">Select...</option>
          <option value="distinction" class="distinction">Distinction</option>
          <option value="pass" class="pass">Pass</option>
          <option value="merit" class="merit">Merit</option>
       </select>
       </td>
      </tr>
     </table>

     <br>

     <div class="divfile">
      <button class="file">Choose file...</button>
     </div>
     <hr>
    </div>
      
     <div id="next">
     <button ion-button (click)="gotoWork();" clear>Next ></button>
     </div>

</ion-content>